:root {
    --main-font : "Nanumsquare neo";
}
--webkit-scrollbar {
    display: none;
}

h1 {
    font-family: var(--main-font);
    font-weight: 900;
    text-align: center;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background-color: transparent;
}

body {
    width : 100%;
    height: 100%;
    margin : 0px;
    overflow: hidden;
}

button{
    margin:0px 4px;
    font-family: var(--main-font);
}

input {
    min-width: 200px;
    font-family: var(--main-font);
}

header {
    width: 100%;
}

section{
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #1b1b1b;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.guideline{
    margin : 10px 10px;
    padding : 2px 2px;
    border-radius: 5px;
    border : 1px dashed white;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: 0.75s;
}

.logo.tauri:hover {
    filter: drop-shadow(0 0 2em #24c8db);
}

.logo.vite:hover {
    filter: drop-shadow(0 0 2em #747bff);
}

  .logo.svelte-kit:hover {
    filter: drop-shadow(0 0 2em #ff3e00);
}

.titlebar {
    height: 30px;
    background: hsl(334,78%,45%);
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 8px 8px 0 0;
}
.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 30px;
}
.titlebar-button:hover {
    background-color: hsl(334,78%,30%);
}
.titlebar-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin : 3px 3px;
    padding : 2px 2px;
    border-radius: 3px;
}
.titlebar-icon:hover{
    background-color: hsl(334,78%,30%);
}
#go-github {
    background-image: url("/github-mark.png");
    background-size:contain;
    width:100%;
    height:100%;
}
#go-tauri {
    background-image: url("/tauri.svg");
    background-size:contain;
    width:100%;
    height:100%;
}

#drag_region {
    margin : 5px 0 0 0;
    width: 100%;
    height: 100%
}

